
/*Aplica estilo, usando Selectores Combinados,
 Anidados y Múltiples; según corresponda, para
  lograr que:

Los párrafos sobre HTML, CSS y JavaScript, 
tengan un color diferente al resto de los otros
 párrafos.
De igual modo, los 3 títulos deben tener el
 mismo color, pero distinto al de los párrafos.
El resto de los párrafos deben tener un color
 diferente cada uno, pero a su vez, coincidir 
 con el de sus títulos.*/

/*A) Los párrafos sobre HTML, CSS y JavaScript, 
tengan un color diferente al resto de los otros 
párrafos.*/
/*selectores combinados= descendientes directos de h3 es decir p/*/


/*B) De igual modo, los 3 títulos deben tener el
 mismo color, pero distinto al de los párrafos.*/

/*C) El resto de los párrafos deben tener un 
color diferente cada uno, pero a su vez, coincidir
 con el de sus títulos.*/
 h1{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:bolder ;
text-decoration: dashed;}
h1+p {font-style: italic;
     font-size: medium;
     font-weight: light;
      font-family: "Roboto" ,"Times New Roman", Times, serif;
       color: crimson;
        text-align:justify;
         text-decoration: underline;}

h3{color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 700;}

p.Epsylon {color: rgb(243, 3, 191);text-align: justify;}

p.beta{color: rgb(174, 57, 57);text-align: justify;}

p.blue, p.green{color:lightseagreen;text-align: justify;}

p.alfa, p.Etha {color: rgb(111, 9, 131);text-align: justify;}

h3+p, p.backend{color:red;text-align: justify;}

p{color: blue;text-align: justify;}

